<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ishuber</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
  	<meta name="Description" content="Ishuber-Life" />
	<link rel="stylesheet" href="pc/css/init.css">
	<link rel="stylesheet" href="pc/css/common.css">
	<link rel="stylesheet" href="pc/css/index.css">
	<link rel="stylesheet" href="pc/css/style.css">
	<script type="text/javascript">
        var cdata = {
            navhover:0        };
        var wDomain = 'http://www.ishuber.com/';
        var ucDomain = 'http://passport.ishuber.com/';
        var cookieDomain = 'ishuber.com';
        var isAndroid=navigator.userAgent.match(/android|Linux/ig),isIos=navigator.userAgent.match(/iphone|ipod|ipad/ig);
                if(isAndroid || isIos){ //手机访问PC网时跳转对应wap页面
            var toUrl = "http://www.ishuber.com/m";
            if(window.location.search.length>0) toUrl+=window.location.search;
            window.location.href= toUrl;
        }
    </script>
</head>
<body>
	<section class="nav">
		<div class="logo">ISU</div>
		<div class="pic">
			<img src="pc/img/common/nav.png" alt="">
		</div>
		<div class="content">
			<div class="close"> 
				<img src="pc/img/common/close.png" alt="">
			</div>
			<ul>
				<li><a href="/">首 页</a></li>
				<li><a href="/project">精 选</a></li>
				<li><a href="/read/readList">阅 读</a></li>
				<li><a href="/new">资 讯</a></li>
			</ul>
		</div>
	</section>
	<section class="banner">
		<div class="bannerWrap">
			<div class="text">
				<div class="detail">
					<span>What</span>
					<span>does</span>
					<span>it</span>
					<span>mean</span>
					<span>to</span>
				</div>
				<div class="details">
					<span>have</span>
					<span>a</span>
					<span>own</span>
					<span>website</span>
					<span>?</span>
				</div>
			</div>
		</div>
		<div class="bannerWrap">
			<div class="text">
				<div class="detail">
					<span>What</span>
					<span>does</span>
					<span>it</span>
					<span>mean</span>
					<span>to</span>
				</div>
				<div class="details">
					<span>have</span>
					<span>a</span>
					<span>own</span>
					<span>website</span>
					<span>?</span>
				</div>
			</div>
		</div>
		<div class="bannerWrap">
			<div class="text">
				<div class="detail">
					<span>What</span>
					<span>does</span>
					<span>it</span>
					<span>mean</span>
					<span>to</span>
				</div>
				<div class="details">
					<span>have</span>
					<span>a</span>
					<span>own</span>
					<span>website</span>
					<span>?</span>
				</div>
			</div>
		</div>
		<div class="controls">
			<div class="scroll">
				scroll down
			</div>
			<!-- 切换banner -->
			<div class="slider-controls">
				<div class="prev">←</div>
				<div class="next">→</div>
			</div>
				
		</div>
	</section>
	<section class="ourConcept">
		<!-- <div class="txt">What does it mean to have a own website?</div> -->
		<div class="content">
			<div class="txtwrap">
				<span>Our Concept</span>
				<p>
					致力于完美用户体验，营造简约、唯美的小型网站。
				</p>
			</div>
		</div>
		<div class="pic">
			<div class="leftPic">
				<ul>
					<li class="list"></li>
					<li class="list"></li>
					<li class="list"></li>
				</ul>
			</div>
			<div class="rightPic">
				<ul>
					<li class="list"></li>
					<li class="list"></li>
					<li class="list"></li>
				</ul>
			</div>
			<div class="controls">
				<div class="prev button left">←</div>
				<div class="next button right">→</div>
			</div>
		</div>
	</section>
	<section class="project">
		<div class="title">
			<h3>Projects</h3>
			<span></span>
		</div>
		<div class="pic">
			<ul>
				<li class="list"><div>个人作品站</div></li>
				<li class="list"><div>工作室网站</div></li>
				<li class="list"><div>小微公司官网</div></li>
			</ul>
		</div>
	</section>
	<section class="contact">
		<div class="bg"></div>
		<div class="bgcover">
			<div class="title"><span></span><h3>contact</h3></div>
		</div>
		<div class="contactStyle">
			<ul>
				<li class="list">
					<div class="listCover">
						<span>E-mail <br>towerseven@163.com</span>
					</div>
				</li>
				<li class="list">
					<div class="listCover">
						<span>QQ <br>2105162660</span>
					</div>
				</li>
				<li class="list">
					<span>WeChat <br>Oi-982155153</span>
					<div class="wechatPic"></div>
				</li>
			</ul>
		</div>
	</section>
	<section class="footer">
		<div class="footerNav left">
			<div class="title left">ISU</div>
			<div class="content left">
				<ul>
					<li class="list left">project</li>
					<li class="list left">ISU</li>
					<li class="list left">contact</li>
					<li class="list left">read</li>
				</ul>
			</div>
		</div>
		<div class="footerContact right">
			<ul>
				<li class="list">QQ</li>
				<li class="list">WeChat</li>
				<li class="list">@2018-ishuber</li>
				<li class="list">
					<div class="go">Go to Pro</div>
				</li>
			</ul>
		</div>
	</section>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="library/js/jquery.mousewheel.min.js"></script>
	<script src="pc/js/common.js"></script>
	<script src="pc/js/index.js"></script>
</body>
</html>